h1 {
    text-shadow: 1px 1px 10px rgb(6, 119, 184);
    font-family: 'Permanent Marker', cursive;
}

h2  {
        text-shadow: 1px 1px 10px rgb(6, 119, 184);
        font-family: 'Permanent Marker', cursive;
}

header {
    text-shadow: 1px 1px 10px   rgb(6, 119, 184);
    font-family: 'Permanent Marker', cursive;
}

body {  font-size: larger;
        font-family: 'Permanent Marker', cursive;
        background-color:rgb(219, 219, 219);
        text-shadow: 1px 1px 10px rgb(6, 119, 184);
        margin-left: 100px;
        margin-right: 100px;
}

footer {
    font-family: 'Permanent Marker', cursive;
    text-shadow: 1px 1px 10px   rgb(6, 119, 184);
}

.div {
    font-family: 'Permanent Marker', cursive;
    text-shadow: 1px 1px 10px   rgb(6, 119, 184);
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;

}