h1 {
    text-shadow: 0 0 35px rgb(160, 35, 129);
    text-decoration: underline ;
}

body { font-family: 'Cinzel', serif;
}

footer {
    font-family: 'Cinzel', serif;
    color: goldenrod;
}

.div-1 {
    font-family: 'Cinzel', serif;
    color: aquamarine;
    font-style: italic; 
}