h1 {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
   
    
    
}

body { 
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    color: crimson;
    background-color: black;
    line-height: 150%;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 200px;
}

